.css {
  background-color: white;
  width: 99%;
  height: 80%;
  /* max-width: 1400px; */
  
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    
  /* position: relative; */
}