/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}*/

.container {
  background-color: rgb(86, 245, 197);
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;
  overflow-y: auto;
  
  
  /* max-width: 1200px; */
}
