/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}*/

.container {
  background-color: rgb(169, 137, 171);

  display: flex;
  flex-direction: column;
  
  
  align-items: center;

  width: 100%;
  height: 100%;
  
  
  /* max-width: 1200px; */
}

.middle {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  overflow-y: auto;
}
